﻿@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>

<body>

<h2>Welcome to Statistics Collector</h2>

<a href="@Url.Action("StatisticsView", new{applicationName="jsparser"})">JsParser statistics</a>

</body>
</html>