﻿@model IEnumerable<IDictionary<string, object>>
@{
    Layout = null;
    ViewBag.Title = "Index";

    var allKeys = Model.SelectMany(d => d.Keys).Distinct();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/reset.css")" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/demo_page.css")" />*@
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/demo_table.css")" />*@
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/demo_table_jui.css")" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery.dataTables.css")" />
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.dataTables.js")"></script>

    <script type="text/javascript">
    $(function () {
        $('#log-data').dataTable().show();
    });
    </script>
    <style type="text/css">
        #log-data_wrapper {
            margin-top:200px;
        }
        .s-header-container {
            position: relative;
            height:16px;
        }
        .s-header {
            -webkit-transform: rotate(-30deg);
            -moz-transform: rotate(-30deg);
            -ms-transform: rotate(-30deg);

            transform: rotate(-30deg);
            width:30px;
            position: absolute;
            top: -50px;
        }
    </style>
</head>

<body>

<h2>Welcome to Statistics Collector</h2>

<h4>Fetched log entries count: @ViewBag.AllCount. Unique Client Log Entries: @(Model.Count())</h4>

<table id="log-data" style="display:none">
    <thead>
        <tr>
            @foreach (var key in allKeys)
            {
                <td>
                    <div class="s-header-container">
                        <div class="s-header">
                            @key
                        </div>
                    </div>
                </td>
            }  
        </tr>
    </thead>
    <tbody>
        @foreach (var objData in Model)
        {
            <tr>
            @foreach (var key in allKeys)
            {
                <td>
                    @{
                        object val = null;
                        if (objData.TryGetValue(key, out val)) 
                        {
                            if (val != null)
                            {
                                <text>@val.ToString()</text>
                            }
                        }
                    }
                </td>
            }
            </tr>
        }
    </tbody>
</table>

</body>
</html>